.jumbotron {
  padding-top: 6rem;
  background-color: #212738;
}

.img-thumbnail {
  background-color: #e7ecef;
}

#projects {
  background-color: #212738;
}

footer {
  background-color: #f97068;
}

section {
  padding-top: 5rem;
}
